/*!
 * Copyright Zendesk, Inc.
 *
 * Use of this source code is governed under the Apache License, Version 2.0
 * found at http://www.apache.org/licenses/LICENSE-2.0
 */
.index__c-tab___2hbkq {
  display: block;
  overflow: hidden
}

.index__c-tab___2hbkq.index__is-rtl___2SO4j {
  direction: rtl
}

.index__c-tab__list___1DJ8w {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #d8dcde;
  padding: 0;
  line-height: 20px;
  white-space: nowrap;
  color: #68737d;
  font-size: 14px
}

.index__c-tab__list__item___2_Mo8 {
  display: inline-block;
  position: relative;
  transition: color .25s ease-in-out;
  border-bottom: solid transparent;
  border-width: 3px;
  cursor: pointer;
  overflow: hidden;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  text-overflow: ellipsis
}

.index__c-tab__list__item___2_Mo8, .index__c-tab__list__item___2_Mo8 a {
  padding: 10px 28px 6px;
  text-decoration: none;
  color: inherit
}

.index__c-tab__list__item___2_Mo8 a {
  display: block;
  margin: -10px -28px -6px
}

.index__c-tab__panel___1Hwuf {
  display: block
}

.index__c-tab--block___3UJ6o {
  display: table
}

.index__c-tab--block___3UJ6o .index__c-tab__list___1DJ8w {
  display: table-cell;
  margin-bottom: 0;
  border-bottom: none;
  vertical-align: top
}

.index__c-tab--block___3UJ6o .index__c-tab__list__item___2_Mo8 {
  display: block;
  margin-bottom: 20px;
  border-bottom-style: none;
  border-left-style: solid;
  border-left-color: transparent;
  padding: 4px 8px;
  text-align: left
}

.index__c-tab--block___3UJ6o .index__c-tab__list__item___2_Mo8 a {
  margin: -4px -8px;
  padding: 4px 8px
}

.index__c-tab--block___3UJ6o .index__c-tab__list__item___2_Mo8.index__is-last___3FCVy, .index__c-tab--block___3UJ6o .index__c-tab__list__item___2_Mo8:last-of-type {
  margin-bottom: 0
}

.index__c-tab--block___3UJ6o .index__c-tab__list__item___2_Mo8.index__is-focused___3Y-Nl:before, .index__c-tab--block___3UJ6o .index__c-tab__list__item___2_Mo8:focus:before {
  top: 4px;
  right: 4px;
  left: 4px
}

.index__c-tab--block___3UJ6o.index__is-rtl___2SO4j .index__c-tab__list__item___2_Mo8 {
  margin-left: 0;
  border-left: 0;
  border-right-style: solid;
  border-right-color: transparent;
  text-align: right
}

.index__c-tab--block___3UJ6o .index__c-tab__panel___1Hwuf {
  margin-left: 32px;
  vertical-align: top
}

.index__c-tab--block___3UJ6o.index__is-rtl___2SO4j .index__c-tab__panel___1Hwuf {
  margin-right: 32px
}

.index__c-tab__list__item___2_Mo8.index__is-hovered___35O4C, .index__c-tab__list__item___2_Mo8:hover {
  color: #3CBB98;
}

.index__c-tab__list__item___2_Mo8 a:hover {
  text-decoration: none
}

.index__c-tab__list__item___2_Mo8 a:focus, .index__c-tab__list__item___2_Mo8:focus {
  outline: none;
  text-decoration: none
}

.index__c-tab__list__item___2_Mo8.index__is-focused___3Y-Nl, .index__c-tab__list__item___2_Mo8:focus {
  color: #3CBB98;
}

.index__c-tab__list__item___2_Mo8:before {
  transition: box-shadow .1s ease-in-out;
  content: ""
}

.index__c-tab__list__item___2_Mo8.index__is-focused___3Y-Nl:before, .index__c-tab__list__item___2_Mo8:focus:before {
  position: absolute;
  top: 10px;
  right: 24px;
  left: 24px;
  border-radius: 4px;
  box-shadow: inset 0 0 0 2px rgba(31, 115, 183, .35);
  height: 20px;
  pointer-events: none
}

.index__c-tab__list__item___2_Mo8.index__c-tab__list__item___2_Mo8.index__is-active___12OJK, .index__c-tab__list__item___2_Mo8.index__c-tab__list__item___2_Mo8:active {
  border-color: currentColor;
  color: #3CBB98;
}

.index__c-tab__list__item___2_Mo8.index__c-tab__list__item___2_Mo8.index__is-active___12OJK:before, .index__c-tab__list__item___2_Mo8.index__c-tab__list__item___2_Mo8:active:before {
  box-shadow: none
}

.index__c-tab__list__item___2_Mo8.index__c-tab__list__item___2_Mo8.index__is-selected___1Hhx1 {
  border-color: currentColor;
  color: #3CBB98;
}

.index__c-tab__list__item___2_Mo8.index__c-tab__list__item___2_Mo8.index__is-disabled___GT3qp, .index__c-tab__list__item___2_Mo8.index__c-tab__list__item___2_Mo8[aria-disabled=true], .index__c-tab__list__item___2_Mo8.index__c-tab__list__item___2_Mo8[disabled] {
  border-color: transparent;
  cursor: default;
  color: #c2c8cc
}

.index__c-tab__list__item___2_Mo8.index__c-tab__list__item___2_Mo8.index__is-disabled___GT3qp a, .index__c-tab__list__item___2_Mo8.index__c-tab__list__item___2_Mo8[aria-disabled=true] a, .index__c-tab__list__item___2_Mo8.index__c-tab__list__item___2_Mo8[disabled] a {
  cursor: inherit
}

.index__c-tab__panel___1Hwuf.index__is-hidden___pZTpc, .index__c-tab__panel___1Hwuf[aria-hidden=true] {
  display: none
}
